<!DOCTYPE html>
<html data-page-alias="platform.app.project.module.chatroom.server"<% include ../../htdocs/static/v1.0/inc/rem_dattr.html %>>
<head>
<% include ../../htdocs/static/v1.0/inc/meta.html %>
<% include ../../htdocs/static/v1.0/inc/rem.html %>
<title>SE生活 - 聊天室服务端</title>
<% include ../../htdocs/static/v1.0/inc/css_common_gm.html %>
<% include ../../htdocs/static/v1.0/inc/css_chatroom.html %>
</head>
<body>
<article class="flexbox stretch justify">
  <aside>
    <fieldset>
      <legend>聊天室管理</legend>
      <form method="get" action="." name="createForm">
        <div class="cform-item flexbox left middle">
          <span>所有者：</span>
          <input type="text" name="chatroom_owner" id="chatroom_owner" data-required="1" data-empty="请输入聊天室的所有者" data-pattern="^[a-zA-Z0-9\u4E00-\u9FA5\u2E80-\uA4CF\uF900-\uFAFF\uFE30-\uFE4F]{1,32}$" data-invalid="聊天室所有者为1-32位的数字、字母或中文字符的任意组合" value="小网UU">
        </div>
        <div class="cform-item flexbox left middle">
          <span>ID：</span>
          <input type="text" name="chatroom_id" id="chatroom_id" data-required="1" data-empty="请输入聊天室ID" data-pattern="^[a-zA-Z0-9]{1,32}$" data-invalid="聊天室ID只能是1-32位的数字或字母的任意组合" value="seshenghuo">
        </div>
        <div class="cform-item flexbox left middle">
          <span>名称：</span>
          <input type="text" name="chatroom_name" id="chatroom_name" data-required="1" data-empty="请输入聊天室名称" data-pattern="^[a-zA-Z0-9\u4E00-\u9FA5\u2E80-\uA4CF\uF900-\uFAFF\uFE30-\uFE4F]{1,32}$" data-invalid="聊天室名称为1-32位的数字、字母或中文字符的任意组合" value="SE生活">
        </div>
        <div class="cform-item flexbox left middle">
          <span>最大人数：</span>
          <input type="text" name="chatroom_maxusers" id="chatroom_maxusers" value="50" data-required="0" data-pattern="^[0-9]+$" data-invalid="最大人数只能是数字" data-min="1" data-mintips="支持人数最小为1" data-max="100" data-maxtips="最大人数不能超过100">
        </div>
        <div class="cform-item flexbox left middle">
          <span>&nbsp;</span>
          <button type="button" class="button" id="applyRoom" data-action-click="chatroom://create#createForm">创建聊天室</button>
        </div>
      </form>
    </fieldset>
  </aside>
  <div class="mainbody">
    <script type="text/template" id="tpl_tips">
      <div class="message tips flexbox middle center">
        <span><~=io.imsgData.tips~></span>
      </div>  
    </script>
    <script type="text/template" id="tpl_message">
      <div class="message <~=io.body.type~> flexbox top justify<~=io.body.self ? " self horizontal-r" : ""~>">
        <i class="msg-avator" style="background-image: url(<~=io.head.user.avator~>);"></i>
        <div class="msg-data">
          <div class="msg-nickname flexbox middle justify<~=io.body.self ? " horizontal-r" : ""~>">
            <h2><~=io.body.from~></h2>
            <time><!--<~=io.body.datetime~>--></time>
          </div>
          <div class="msg-content icofont">
            <~=io.body.data.content~>
          </div>
        </div>
      </div>  
    </script>
    <div class="chatroom-message">
      <div id="render_message">
        <!-- <div class="message flexbox top justify">
          <i class="msg-avator"></i>
          <div class="msg-data">
            <div class="msg-nickname flexbox middle justify">
              <h2>小网UU</h2>
              <time>10分钟前</time>
            </div>
            <div class="msg-content">
              大家好
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="chatroom-footer">
      <form name="sendMessageForm" action="." method="post">
        <div class="chatroom-iconbar">
          
        </div>
        <div class="chatroom-input flexbox middle center">
          <textarea name="textMessage" id="textMessage"></textarea>
        </div>
        <div class="chatroom-funcbar flexbox middle right">
          <button type="button" class="button" data-action-click="chatroom://sendMessage#sendMessageForm">发送</button>
        </div>
      </form>
    </div>
  </div>
</article>
<% include ../../htdocs/static/v1.0/inc/js_socket.io.html %>
<% include ../../htdocs/static/v1.0/inc/js_common_j.2.x.html %>
<% include ../../htdocs/static/v1.0/inc/js_logic_chatroom.html %>
</body>
</html>